{% extends 'hostel/base.html' %}
{% load staticfiles %}
{% block title %}Voting{% endblock %}

<h1>Voting procedure</h1>
{% block body %}
<h3>Time is :  {{ time}}</h3>

<span id="root" style="font-size:50px;color:blue"></span>
<script>
	function tick() {
  var ctd = new Date().toLocaleDateString() +" "+new Date().toLocaleTimeString();
    document.getElementById("root").innerHTML = ctd;
}
setInterval(tick, 1000);

</script>


<h3>Hello {{user}} !</h3>

<h4>Are u coming to have {{ type1 }} on {{date}} ?</h4>
</br>
<form action="" method="POST" >
	{% csrf_token %}



{{form.as_p}}

</br>
<input class="btn btn-primary"type="submit" name="Submit">
</form>





</br>
</br>

<h1>అన్నం పరబ్రహ్మ స్వరూపం వృథాచేయవద్దు  .</h1>


{%  endblock%}
